{% extends "base.html" %}

{% block stylesheets %}
	{{ Assets.css("assets/scss/main.scss") }}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>{{ Configs.ctf_name }}</h1>
		<p class="lead">
			{{ Configs.ctf_description | safe }}
		</p>

		{% if Configs.ctf_logo %}
		<img src="{{ url_for('views.files', path=Configs.ctf_logo) }}" alt="{{ Configs.ctf_name }}" class="w-50 h-50">
		{% endif %}

		<br>
		<br>

		<div>
			{% if not authed() %}
				<a class="btn btn-primary btn-lg w-25" href="{{ url_for('auth.register') }}">
					{% trans %}Register{% endtrans %}
				</a>
				<a class="btn btn-outline-primary btn-lg w-25" href="{{ url_for('auth.login') }}">
					{% trans %}Login{% endtrans %}
				</a>
			{% else %}
				<a class="btn btn-primary btn-lg w-25" href="{{ url_for('challenges.listing') }}">
					{% trans %}Challenges{% endtrans %}
				</a>
				<a class="btn btn-outline-primary btn-lg w-25" href="{{ url_for('scoreboard.listing') }}">
					{% trans %}Scoreboard{% endtrans %}
				</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	{{ Assets.js("assets/js/page.js") }}
{% endblock %}
